.headTail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dragDown {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  padding: 6px;
  font-size: 20px;
  font-weight: 800;
}

.select {
  border-radius: 4px;
  padding: 6px;
  font-size: 15px;
}

.arrayOfArray {
  padding: 4px;
  margin: 4px;
  font-size: 20px;
  display: flex;
}

.array {
  display: flex;
  padding: 4px;
  margin: 4px;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  background-color: cadetblue;
}
