.App {
  text-align: center;
}

.pageHeader {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 800;
}

.linkBox {
  display: inline-block;
  margin: 6px;
  padding: 6px;
}

.link {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: cadetblue;
  margin: 6px;
  color: black;
  text-decoration: none;
}
